<!DOCTYPE html>
<html lang="en">
<head>
    <title>RTube</title>
    <meta name="author" content="H. Ali Karaca">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="assets/app.css" />
    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-app="RTubeApp" ng-cloak ng-controller="baseCtrl">

    <md-toolbar class="md-whiteframe-z2 "  >
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
                <md-icon md-svg-icon="assets/svg/menu.svg"></md-icon>
            </md-button>
            <h2>
                <span>RTube</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                <md-icon md-svg-icon="assets/svg/ic_more_vert_white_24px.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <div ng-controller="categoryCtrl as cc"  layout-wrap layout="row">

        <md-sidenav flex class="site-sidenav md-sidenav-left md-whiteframe-z2"
                    md-component-id="sideNavCategoryList" aria-label="Show User List"
                  md-is-locked-open="$mdMedia('gt-sm')" >
            <md-subheader class="md-primary">Best of YouTube</md-subheader>
            <md-divider ng-if="!$last"></md-divider>
            <!--menu list-->
            <md-list>
                <md-list-item ng-repeat="it in categories">
                    <md-button ng-click="selectUser(it)" ng-class="{'selected' : it === selected }">
                        <span>{{it.name}}</span>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <!--view body-->
        <md-content flex class="md-whiteframe-z2" layout="row" layout-wrap ng-view>
             
        </md-content>

    </div>


    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="http://www.youtube.com/iframe_api"></script>
    <script src="app/modules/utilsModule.js"></script>
    <script src="app/app.js"></script>
    <script src="app/services/youtubeService.js"></script>
    <script src="app/services/categoryService.js"></script>
    <script src="app/controllers/viewController.js"></script>
    <script src="app/controllers/categoryController.js"></script>
    <script src="app/controllers/listController.js"></script>
</body>
</html>
